DATABASE_URL="postgresql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>?schema=public"
JWT_ACCESS_SECRET="<JWT_ACCESS_SECRET_PLACEHOLDER>"
JWT_REFRESH_SECRET="<JWT_REFRESH_SECRET_PLACEHOLDER>"
PORT=3000
